body{
	background-image: url("https://2.bp.blogspot.com/-LRM8AETvY2I/WJ3QAKEXenI/AAAAAAAAAfo/xaMfKjTU3eQeUaB6swtKmZ09FE2WHKsSwCLcB/s1600/Oranges.JPG");
}

h1{
	color: white;
}

h3{
	color: white;
}

p{
	color: white;
}

main{
	font-family: 'JetBrains Mono', monospace;
}
